<h1>Edit a Project</h1>

<form action= "<%=project_url(@project)%>" method="POST">

  <input type='hidden' name='_method' value='PATCH'/>

  <label for="project_name">Project Name</label>
  <input type="text" name="project[name]" id="project_name" value="<%=@project.name%>">
  <br>
  <label for="project_code">Project Code</label>
  <input type="text" name="project[code]" id="project_code" value="<%=@project.code%>">
  <br>

  <input type="submit" value="Edit project!">
</form>

<p><%= button_to "Back", project_url(@project), method: :get %> </p>
