<h1>Create a New Project</h1>


<form action="/projects" method="POST">

  <label for="project_name">Project Name</label>
  <input type="text" name="project[name]" id="project_name">
  <br>

  <label for="project_code">Project Code</label>
  <input type="text" name="project[code]" id="project_code">
  <br>

  <input type="submit" value="Create project!">
</form>
