<h1>Edit an Item</h1>

<form action= "<%=item_url(@item)%>" method="POST">

  <input type='hidden' name='_method' value='PATCH'/>

  <label for="item_name">Name</label>
  <input type="text" name="item[name]" id="item_name" value="<%=@item.name%>">
  <br>

  <label for="item_description">Description</label>
  <input type="text" name="item[description]" id="item_description" value="<%=@item.description%>">
  <br>

  <input type="submit" value="Edit item!">
</form>

<p><%= button_to "Back", areas_url, method: :get %> </p>
