<h1>Create a New Item :)</h1>


<form method='post' action="/items">

  <label for="item_name">Name:</label>
  <input type="text" name='item[name]', id='item_name'>
  <br>

  <label for="item_description">Description:</label>
  <input type="text" name='item[description]', id='item_description'>
  <br>

  <label for="item_area">Area:</label>
  <select name="item[area_id]" id = "item_area">
    <% Area.all.each do |area| %>
    <option value=<%= area.id %> <%= selected="selected" if @area.id == area.id %>><%= area.name %></option>
    <% end %>
  </select>
  <br>

  <input type="submit" value="Create item!">

</form>
